body {
text-align: center;
}


/* 
#container {
  display: flexbox;
  height: 100vh;
  justify-content: center;
  background-color: silver;
  align-items: center;
} */


/* ody #container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
} */